//PEN HEADER
header.header
  h1.header__title Submit buttons collection
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/submit-buttons" title="Check on Github" target="_blanc") Check on Github
    
//PEN CONTENT
.content

  //content title
  h2.content__title Click 'Submit' buttons to check the animations
  
  //content inner
  .content__inner
  
    //buttons block
    .submit-buttons
    
      //single button block
      .submit-buttons__block
      
        h4.submit-buttons__title #1
        
        .submit-buttons__content
        
          button.submit-button(type="submit" title="Submit") 
            .submit-button__text Submit
            
      //single button block
      .submit-buttons__block
      
        h4.submit-buttons__title #2
        
        .submit-buttons__content
        
          button.submit-button(type="submit" title="Submit") 
            .submit-button__text Submit
            
      //single button block
      .submit-buttons__block
      
        h4.submit-buttons__title #3
        
        .submit-buttons__content
        
          button.submit-button(type="submit" title="Submit") 
            .submit-button__text Submit
            
      //single button block
      .submit-buttons__block
      
        h4.submit-buttons__title #4
        
        .submit-buttons__content
        
          button.submit-button(type="submit" title="Submit") 
            .submit-button__text Submit
            
      //single button block
      .submit-buttons__block
      
        h4.submit-buttons__title #5
        
        .submit-buttons__content
        
          button.submit-button(type="submit" title="Submit") 
            .submit-button__text Submit