//mixins
@mixin transition-mix ($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

//basic variables
$theme-font-color: #2c2c2c;

//common styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    family: 'Karla', sans-serif;
    size: 16px;
  }
  color: $theme-font-color;
  
  a {
    color: inherit;
    text-decoration: none;
  }
}

.btn {
  @include transition-mix;
  
  padding: 10px 20px;
  display: inline-block;
  margin-right: 10px;
  
  background-color: #fff;
  border: 1px solid $theme-font-color;
  border-radius: 3px;
  
  cursor: pointer;
  
  outline: none;
  
  &:last-child {
    margin-right: 0;
  }
  
  &:hover,
  &.js-active{
    color: #fff;
    
    background-color: $theme-font-color;
  }
}

//header styles
.header {
  max-width: 500px;
  margin: 50px auto;
  
  text-align: center;
}

.header__title {
  margin-bottom: 30px;
}

//content styles
.content {
  max-width: 700px;
  width: 95%;
  margin: 0 auto 40px;
}

.content__title {
  margin-bottom: 40px;
  
  font: {
    size: 20px;
  }
  text-align: center;
}

//submit buttons block styles
.submit-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.submit-buttons__block {
  margin-bottom: 40px;
}

.submit-buttons__title {
  margin-bottom: 20px;
  
  text-align: center;
}

//submit button styles
.submit-button {
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 54px;
  
  font: {
    size: 14px;
    weight: 700;
  }
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.44px;
  
  box-shadow: 
    0px 16px 35px 0 rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  
  cursor: pointer;
}

.submit-button--2 {
  background-image: 
    linear-gradient(to right bottom, #ffce3a 1%, #ff0e69);
}

.submit-button--3 {
  background-image: 
    linear-gradient(to right bottom, #29ff2e 1%, #ffa507);
}

.submit-button--4 {
  background-image: 
    linear-gradient(to right bottom, #ff18ab 1%, #6e03ff);
}

.submit-button--5 {
  background-image: 
    linear-gradient(to right bottom, #00ffd8 1%, #007eff);
}

//button #1 styles
.submit-button--1 {
  background-image: 
    linear-gradient(to right bottom, #1affec 1%, #9f4ff9);
}

.submit-button__pending--1 {
  @include position-absolute($top: 0, $left: 0);
  
  display: none;
  width: 100%;
  height: 100%;
  
  //spinning icon
  &:before {
    @include position-absolute($top: 50%, $left: 50%);
    
    display: block;
    
    font: {
      family: "Font Awesome 5 Free";
      size: 1.6rem;
    }
    
    transform: translate(-50%, -50%);
    
    content: '\f110';
  }
  
  //progress bar
  &:after {
    @include position-absolute($bottom: 0, $left: 0);
    
    display: block;
    width: 100%;
    height: 4px;
    
    content: '';
    
    transform: scaleX(.4);
    transform-origin: left center;
    
    background-image: 
      linear-gradient(to right bottom, #ffce3a 1%, #ff0e69);
    background-size: 100%;
  }
}

.submit-button__text--1 {
  
}

.submit-button__loaded--1 {
  @include position-absolute($top: 0, $left: 0);
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
  //completed icon
  &:before {
    margin-right: 10px;
    
    font: {
      family: "Font Awesome 5 Free";
      size: 1.4rem;
    }
    
    content: '\f00c';
    
    transform: translateY(-2px);
  }
}

.submit-button__pending--1,
.submit-button__loaded--1 {
  opacity: 0;
  visibility: hidden;
}